*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    body{
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
    background: linear-gradient(to top  ,rgba(0,0,0,0.7),rgba(0,0,0,0.1)), url("/WeatherForecast/pic.jpg") no-repeat center/cover ;
    }
    #weather{
        width: 400px;
        border-radius: 10px;
        padding: 30px 20px;
        background: rgb(0, 0, 0, 0.2);
    }
    .rainny {
        
        background: linear-gradient(to top  ,rgba(0,0,0,0.7),rgba(0,0,0,0.1)), url("/WeatherForecast/rain.jpg") no-repeat center/cover ;
        transition: 0.2s;
        

    }
    .sunny {
        background: linear-gradient(to top  ,rgba(0,0,0,0.7),rgba(0,0,0,0.1)), url("/WeatherForecast/sun.jpg") no-repeat center/cover ;
        transition: 0.2s;

    }
    .cloudy {
        background: linear-gradient(to top  ,rgba(0,0,0,0.7),rgba(0,0,0,0.1)), url("/WeatherForecast/cloud.jpg") no-repeat center/cover ;
        transition: 0.2s;

    }
    .search{

        width: 100%;
        padding: 10px 20px;
        border: none;
        outline: none;
        background: rgba(255,255,255, 0.2);
        border-radius: 15px 0px 15px 0px;
        box-shadow: 0 3px rgba(0,0,0,0.5);
        transition: 0.5s;
        font-size: 19px;
        margin-bottom: 10px;
    }
    .search:focus{
        background: rgba(255,255,255, 0.7);
        border-radius: 0px 15px 0px 15px;

    }
    .content{

        text-align: center;
        color: whitesmoke;
        margin-left: auto;
        margin-right: auto;
        transition: 0.4;
    }
    .hide{
        visibility: hidden;
        opacity: 0;
    }
    .capital{
        text-shadow: 2px 2px rgba(0,0,0,0.5);
        font-size: 40px;

    }
    .time{
        margin: 15px 0 20px 0;
        font-size: 15px;

    }
    .temperature{
font-size: 75px;
text-shadow: 4px 4px rgba(0,0,0,0.7);
background: rgba(255, 255,255, 0.5);
box-shadow: 4px 4px rgba(0,0,0,0.5);
border: none;
border-radius: 10px;
margin: 0 20px;
padding: 20px;

    }
    .shortDesc{
margin: 30px;
font-size: 40px;
font-weight: bold;
        
    text-shadow: 3px 3px rgba(0,0,0,0.7);

    }
    .moreDesc{
        display: flex;
        justify-content: space-between;
        
    }
    .moreDesc div{
        display: flex;
        flex-direction: column;
        padding: 5px;
    }
    .moreDesc div i{

        margin: 10px 0  ;
    }
    